---
Language:        Cpp
BasedOnStyle:  LLVM
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BraceWrapping:   
  BeforeCatch:     true
  BeforeElse:      true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
ColumnLimit:     80
IncludeCategories: 
  - Regex: '^<Eigen/'
    Priority: 3
  - Regex: '^<boost/'
    Priority: 2
  - Regex: '.*'
    Priority: 1
NamespaceIndentation: Inner
PointerAlignment: Left
...
